body{
    background-color: aliceblue;
    padding: 0%;
}

#game-container{
    display: block;
    max-width: 850px;
    background-color: rgb(238, 238, 238);
    border: solid black 4px;
    box-shadow: 2px 2px 1px 1px rgb(163, 163, 163);
    margin: 2rem auto;
}

#room-image{
    max-width: 400px;
    display: block;
    margin: 2rem auto;
    border: 3px black solid;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgb(163, 163, 163);
}

#game-container h1{
    margin-top: 0;
    text-align: center;
    background-color: rgb(201, 200, 200);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 3px black;
}

#game-container p{
    box-shadow: 2px 2px 1px 1px rgb(163, 163, 163);
    margin: 1rem;
    padding: 0.5rem;
    border: black 2px solid;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
}

#answers{
    list-style: none;
    padding: 0%;
    text-align: center;
}

.answer-button-li{
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
}

.answer-button-li button{
    box-shadow: 2px 2px 1px 1px rgb(163, 163, 163);
    min-height: 50px;
    min-width: 50px;
    background-color: white;
    border: solid 2px black;
    margin-bottom: 1rem;
}

.answer-button-li button:hover{
    min-height: 50px;
    min-width: 50px;
    background-color: whitesmoke;
    border: solid 2px rgb(32, 32, 32);
}

@media (max-width: 600px){

    #room-image{
        width: 50%;
    }
}
